mixin portfolioItem(data)
  each item in data
    .portfolio__item
      picture.portfolio__item-pic&attributes(attributes)
        source(srcset="static/img/content/portfolio/" + item.link + "-400w.jpg, static/img/content/portfolio/" + item.link + "-800w.jpg 2x" media="(max-width: 599px)")
        source(srcset="static/img/content/portfolio/" + item.link + "-300w.jpg, static/img/content/portfolio/" + item.link + "-600w.jpg 2x" media="(min-width: 600px)")
        img(src="static/img/content/portfolio/" + item.link + "-400w.jpg" alt= item.name)
      .portfolio__item-descr
        .portfolio__item-btn-box
          a(href="#").portfolio__item-btn
            +icon('arrow', "portfolio__item-btn-icon")
        h4.portfolio__item-name= item.name
        p.portfolio__item-text= item.text 
      
section.profile.square
  include ../../modules/header/header
  .profile__video-screen
    .profile__title-block.content
      h2.title Giorgina Alson
    .profile__video
      .video 
        .video__attributes
          button(type="button" data-cursor="play")#playBtn.video__playBtn.interactive
            +icon('play', 'video__playBtn-icon')
        button(type="button" data-cursor="play")#pauseBtn.video__pauseBtn.video__pauseBtn_hidden.interactive ||
        .video__poster(style="background-image: url(static/img/content/giorgina.jpg)")
        video(controls preload="auto" loop)#video.video__file 
  .wrapper  
    section(data-aos="fade-up" data-aos-duration="2000").profile__section  
      article.profile__article
        .profile__article-pic 
          picture
            source(srcset="static/img/content/portfolio/derek-anderson1-200w.jpg, static/img/content/portfolio/derek-anderson1-400w.jpg 2x" media="(max-width: 600px)")
            source(srcset="static/img/content/portfolio/derek-anderson1-400w.jpg, static/img/content/portfolio/derek-anderson1-640w.jpg 2x" media="(min-width: 601px)")
            img(src="static/img/content/portfolio/derek-anderson1-400w.jpg" alt="Derek Anderson") 
        .profile__article-text-wrap
          header.profile__article-header
            ul.profile__tabs.tabs#tabs
              li(data-cursor="dot").interactive.tabs__item
                button(type="button" data-tab="#").tabs__btn.tabs__btn_active Profile
              li(data-cursor="dot").interactive.tabs__item
                button(type="button" data-tab="#").tabs__btn Press
              li(data-cursor="dot").interactive.tabs__item
                button(type="button" data-tab="#").tabs__btn Awards
              li(data-cursor="dot").interactive.tabs__item
                button(type="button" data-tab="#").tabs__btn Creadits
            h3.profile__article-title.section-title Profile.
            p.profile__article-subtitle Derek Anderson is a leading actor, comedian and writer
            .profile__article-small-text
              +icon("star", "profile__star-icon")
              span British Award 2020
          .profile__text
            p.profile__paragraph.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat. 
            p.profile__paragraph.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat.
        .profile__social 
          include ../../modules/social/social
    section(data-aos="fade-up" data-aos-duration="2000").profile__section
      .profile__text-panel.profile__section_bg-color_black
        h3.profile__article-title.profile__article-title_line.section-title Derek Anderson on press
        ul.profile__media-links.profile-media-links
          li(data-cursor="dot").profile-media-links__item.interactive
            a(href="#" target="_blank").profile-media-links__link
              picture.profile-media-links__prev
                source(srcset="static/img/content/portfolio/derek-anderson-link-pic.jpg, static/img/content/portfolio/derek-anderson-link-pic-retina.jpg 2x")
                img(src="static/img/content/portfolio/derek-anderson-link-pic.jpg" alt="Derek Anderson") 
              .profile-media-links__text-box
                p.profile-media-links__text.link-text 29 Mativational quotes for business and other work environments
                span.profile-media-links__date.link-date 20 March, 2020
          li(data-cursor="dot").profile-media-links__item.interactive
            a(href="#" target="_blank").profile-media-links__link
              picture.profile-media-links__prev
                source(srcset="static/img/content/portfolio/derek-anderson-link-pic.jpg, static/img/content/portfolio/derek-anderson-link-pic-retina.jpg 2x")
                img(src="static/img/content/portfolio/derek-anderson-link-pic.jpg" alt="Derek Anderson") 
              .profile-media-links__text-box
                p.profile-media-links__text.link-text.link-text_color_accent 5 reasons to keep your beauty salon resevation
                span.profile-media-links__date.link-date 8 March, 2020
        a(href="#" data-cursor="dot").interactive.profile__show-more.show-more-btn.show-more-btn_color_light
          span.show-more-btn__text Explore more 
          +icon('arrow', 'show-more-btn__icon')
      picture.profile__pic-panel.profile__pic-panel_fixed-height 
        source(srcset="static/img/content/portfolio/derek-anderson2.jpg, static/img/content/portfolio/derek-anderson2-retina.jpg 2x")
        img(src="static/img/content/portfolio/derek-anderson2.jpg" alt="Derek Anderson") 
    section(data-aos="fade-up" data-aos-duration="2000").profile__section
      .profile__title-panel
        h3.profile__article-title.profile__article-title_line.section-title Similar Clients
      .profile__text-panel
        p.profile__paragraph.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua.
        a(href="#").profile__show-more.show-more-btn
          span(data-cursor="dot").interactive.show-more-btn__text Explore more 
          +icon('arrow', 'show-more-btn__icon')           
    .profile__portfolio-slider.js-portfolio-slider(data-aos="fade-up" data-aos-duration="2000")
        +portfolioItem([
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio1'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio2'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio3'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio4'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio5'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio6'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio7'}
        ]) 
  include ../../modules/footer/footer           
                
                
