.pic-puzzle
  $offset: 20px
  display: flex
  &__column
    position: relative
    @media screen and (min-width: 800px)
      &:not(:last-child)
        margin-right: $offset
    &_width
      &_lg
        flex: 3
      &_sm
        flex: 1
        @media screen and (max-width: 800px)
          display: none
  &__line
    @media screen and (min-width: 461px)
      display: flex
    &:not(:last-child)
      margin-bottom: $offset
  &__small-block
    flex: 1
    padding-top: 55%
    position: relative
    @media screen and (max-width: 460px)
      padding-top: 100%
    @media screen and (min-width: 461px)
      &:not(:last-child)
        margin-right: $offset
    @media screen and (min-width: 600px)
      padding-top: 35%
  &__content-wrap
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    display: flex
    &_vertical
      flex-direction: column
    @media screen and (max-width: 460px)
      flex-direction: column
  &__content-wrap:hover &__img
      transform: scale(1.05)
      transition: transform .8s cubic-bezier(.165,.84,.44,1)
  &__text
    font-size: 18px
    padding: .6em
    &_accent
      font-size: 24px
      padding: 1em
      display: flex
      flex-direction: column
      background-color: $bg-color
      color: $main-color-light
      order: 2
      @media screen and (min-width: 461px)
        width: 40%
        order: 0


      & .link-text
        margin-top: auto
      & .link-date
        color: $main-color-light
  &__title
    line-height: 1.4
    margin-bottom: .6em
  &__img-wrap
    flex: 1
    height: 100%
    position: relative
    overflow: hidden
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    transition: transform .8s cubic-bezier(.165,.84,.44,1)

.news
  overflow: hidden
  & .wrapper
    & > *:not(header, .news__main-screen-blocks)
      padding-top: 30px
      padding-bottom: 30px
  &__main-screen-blocks
    padding-bottom: 30px
    @media screen and (min-width: 401px)
      display: flex
    @media screen and (max-width: 1000px)
      flex-wrap: wrap
      & > *:not(:last-child)
        margin-bottom: 20px
  &__column
    width: 100%
    display: flex
    flex-direction: column
    overflow: hidden
    @media screen and (min-width: 401px)
      width: 48%
    @media screen and (min-width: 1001px)
      width: 28%
    &_size
      &_lg
        margin-right: 4% !important
        position: relative
        z-index: 200
        @media screen and (min-width: 1001px)
          width: 37%
          margin-top: -106px
        & .news__text
          width: 80%
          position: absolute
          bottom: 10%
          right: 5%
          font-size: 24px
          &::before
            content: ''
            width: 15%
            height: 2px
            background-color: $main-color-light
            position: absolute
            top: 50%
            right: 0
            transform: translateX(70%)
    @media screen and (min-width: 1001px)
      &:not(:last-child)
        margin-right: 20px
    &:hover
      & .news__pic-wrap
        transform: scale(.9)
        transition: transform .8s 0s cubic-bezier(.165,.84,.44,1)
      & .news__pic
        transform: scale(1.2)
        transition: transform .8s cubic-bezier(.165,.84,.44,1)
  &__pic-wrap
    position: relative
    padding-top: 70%
    flex: 1
    overflow: hidden
    transition: transform .8s cubic-bezier(.165,.84,.44,1)
  &__pic
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center top
    background-repeat: no-repeat
    transition: transform .8s cubic-bezier(.165,.84,.44,1)
  &__media-links
    & .profile-media-links
      padding: 0
    @media screen and (max-width: 1000px)
      width: 100%
      margin: 0 -10px
      & .profile-media-links
        display: flex
        flex-wrap: wrap
        & > *
          flex: 1 300px
          margin-left: 10px
          margin-right: 10px
          @media screen and (max-width: 601px)
            flex-basis: 200px
  &__text
    @extend .pic-puzzle__text
  &__title
    @extend .pic-puzzle__title
  &__header
    padding-right: 0
    margin-bottom: 20px
    justify-content: flex-end
    & .header__sandwich
      margin-right: 0
      margin-left: 28px
    @media screen and (max-width: 1000px)
      & .header__logo
        left: 0
        transform: translate(0, -50%)
    @media screen and (min-width: 1001px)
      padding-left: 41%
  &__portfolio-list
    & .portfolio__item
      width: 50%
      display: none
      @media screen and (min-width: 601px)
        width: 25%
      @media screen and (min-width: 801px)
        width: 25%
      &-pic
        padding-top: 110%
        position: relative
        & img
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: auto
          min-height: 100%
    &-tabs
      margin-bottom: 60px
