mixin portfolioItem(data)
  each item in data
    .portfolio__item&attributes(attributes)
      .portfolio__item-pic
        img(src= item.link alt= item.name)
      .portfolio__item-descr
        .portfolio__item-btn-box
          a(href="#").portfolio__item-btn
            +icon('arrow', "portfolio__item-btn-icon")
        h4.portfolio__item-name= item.name
        p.portfolio__item-text= item.text 

.news
  .wrapper 
    header.header.news__header
      img(src="static/svg/logo.svg" alt="Mitalent").logo.header__logo
      .header__panel
        .header__search-form.search-form
          .search-form__overlay.interactive(data-cursor="circle")
            img(src="static/svg/search.svg" alt="search icon").search-form__overlay-icon.form__icon
          form.form.form_size_sm.search-form__block-form
            input(type="search" placeholder="Search" name="main-search" data-cursor="hidden").interactive.form__input
            button(type="submit" data-cursor="circle").form__btn.interactive
              img(src="static/svg/search.svg" alt="search icon").form__icon
        button(type="button" data-cursor="circle").toggle-navigation-btn.header__sandwich.interactive#toggle-navigation-btn
          span.hidden-text Close navigation
          span.toggle-navigation-btn__line        
    .news__main-screen-blocks
      .news__column.news__column_size_lg.interactive(data-cursor="arrow" data-aos="fade-right" data-aos-duration="2000")
        .news__pic-wrap
          picture.news__pic
            source(srcset="static/img/content/puzzle/puzzle5.jpg, static/img/content/puzzle/puzzle5-retina.jpg 2x")
            img(src="static/img/content/puzzle/puzzle5.jpg" alt='puzzle5') 
        .news__text
          span.news__title-suptitle.link-suptitle Featured news
          h3.news__title.link-text A starter guide to self improvement
      .news__column.interactive(data-cursor="arrow" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="1000")
        .news__pic-wrap
          picture.news__pic
            source(srcset="static/img/content/puzzle/puzzle6.jpg, static/img/content/puzzle/puzzle6-retina.jpg 2x")
            img(src="static/img/content/puzzle/puzzle6.jpg" alt='puzzle6')
        .news__text
          h3.news__title.link-text.link-text_color_dark Dream interpretation common symbols and their meanings
          span.news__date.link-date 8 march 2020
      .news__column.news__media-links.interactive(data-cursor="dot" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="1500") 
        +mediaLinks([
          {'text': 'Burning desire golden key or red herring',
          'date': '8 March, 2020',
          'img': 'puzzle7'},
          {'text': '5 reasons to keep your beauty salon reservation',
          'date': '8 March, 2020',
          'img': 'puzzle8'},
          {'text': 'Motivation is the first step to succes',
          'date': '8 March, 2020',
          'img': 'puzzle9'},
          {'text': 'How to set intentions that energize you',
          'date': '8 March, 2020',
          'img': 'puzzle7'}
          ])
    .news__portfolio-list
      ul.news__portfolio-list-tabs.tabs
        li.tabs__item.interactive(data-cursor="dot")
          button(type="button" data-tab="#").tabs__btn.tabs__btn_active Actor
        li.tabs__item.interactive(data-cursor="dot")
          button(type="button" data-tab="#").tabs__btn Musician
        li.tabs__item.interactive(data-cursor="dot")
          button(type="button" data-tab="#").tabs__btn Comedian
        li.tabs__item.interactive(data-cursor="dot")
          button(type="button" data-tab="#").tabs__btn Model
      .portfolio
        +portfolioItem([
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio1'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio2'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio3'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'portfolio4'}
        ])(class="portfolio__item_light")
        +portfolioItem([
        {'name': 'Keith Ruiz',
        'text': 'comedian',
        'link': 'portfolio5'},
        {'name': 'Keith Ruiz',
        'text': 'comedian',
        'link': 'portfolio6'},
        {'name': 'Keith Ruiz',
        'text': 'comedian',
        'link': 'portfolio7'},
        {'name': 'Keith Ruiz',
        'text': 'comedian',
        'link': 'portfolio1'}
        ])(class="portfolio__item_light") 
        button(type="button" data-cursor="dot")#showMore.portfolio__show-more.show-more-btn.interactive
          span.show-more-btn__text Show more 
    section.profile__section
      .profile__title-panel
        h3.profile__article-title.profile__article-title_line.section-title Our clients
      .profile__text-panel
        p.profile__paragraph.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua.
        a(href="#" data-cursor="dot").profile__show-more.show-more-btn.interactive
          span.show-more-btn__text Explore more 
          +icon('arrow', 'show-more-btn__icon')   
    .news__puzzle.pic-puzzle
      .pic-puzzle__column.pic-puzzle__column_width_lg
        .pic-puzzle__line
          .pic-puzzle__small-block.interactive(data-cursor="dot")
            .pic-puzzle__content-wrap
              .pic-puzzle__text.pic-puzzle__text_accent
                h3.pic-puzzle__title.link-text Use your reset button to change your vibration
                span.pic-puzzle__date.link-date 8 march 2020
              .pic-puzzle__img-wrap
                .pic-puzzle__img(style="background-image: url(static/img/content/puzzle/puzzle1.jpg)")
        .pic-puzzle__line
          .pic-puzzle__small-block.interactive(data-cursor="dot")
            .pic-puzzle__content-wrap.pic-puzzle__content-wrap_vertical
              .pic-puzzle__img-wrap
                .pic-puzzle__img(style="background-image: url(static/img/content/puzzle/puzzle3.jpg)")
              .pic-puzzle__text
                h3.pic-puzzle__title.link-text.link-text_color_dark Dream interpretation common symbols and their meanings 
                span.pic-puzzle__date.link-date 8 march 2020
          .pic-puzzle__small-block.interactive(data-cursor="dot")
            .pic-puzzle__content-wrap.pic-puzzle__content-wrap_vertical
              .pic-puzzle__img-wrap
                .pic-puzzle__img(style="background-image: url(static/img/content/puzzle/puzzle4.jpg)")
      .pic-puzzle__column.pic-puzzle__column_width_sm.interactive(data-cursor="dot")
        .pic-puzzle__content-wrap.pic-puzzle__content-wrap_vertical
          .pic-puzzle__img-wrap
            .pic-puzzle__img(style="background-image: url(static/img/content/puzzle/puzzle2.jpg)")
          .pic-puzzle__text
            h3.pic-puzzle__title.link-text.link-text_color_dark Motivation and your personal vision an anbeatable force
            span.pic-puzzle__date.link-date 8 march 2020
  include ../../modules/footer/footer     
