mixin mediaLinks(data)
  ul.profile-media-links&attributes(attributes)
    each item in data
      li.profile-media-links__item
        a(href="#" target="_blank").profile-media-links__link
          picture.profile-media-links__prev
            source(srcset="static/img/content/portfolio/"+ item.img + ".jpg, static/img/content/portfolio/" + item.img + ".jpg 2x")
            img(src="static/img/content/portfolio/" + item.img + ".jpg" alt= item.text) 
          .profile-media-links__text-box
            p.profile-media-links__text.link-text.link-text_color_dark= item.text
            span.profile-media-links__date.link-date= item.date
mixin portfolioItem(data)
  each item in data
    .portfolio__item
      .portfolio__item-pic&attributes(attributes)
        img(src= item.link alt= item.name)
      .portfolio__item-descr
        .portfolio__item-btn-box
          a(href="#").portfolio__item-btn
            +icon('arrow', "portfolio__item-btn-icon")
        h4.portfolio__item-name= item.name
        p.portfolio__item-text= item.text 

.news.profile 
  .wrapper
    +mediaLinks([
    {'text': 'Burning desire golden key or red herring',
    'date': '8 March, 2020',
    'img': 'derek-anderson1'},
    {'text': '5 reasons to keep your beauty salon reservation',
    'date': '8 March, 2020',
    'img': 'derek-anderson1'},
    {'text': 'Motivation is the first step to succes',
    'date': '8 March, 2020',
    'img': 'derek-anderson1'},
    {'text': 'How to set intentions that energize you',
    'date': '8 March, 2020',
    'img': 'derek-anderson1'}
    ])(class="news__media-links")
    
    section.profile__section
      .profile__title-panel
        h3.profile__article-title.profile__article-title_line.section-title Our clients
      .profile__text-panel
        p.profile__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua.
        a(href="#").profile__show-more.show-more-btn
          span.show-more-btn__text Explore more 
          +icon('arrow', 'show-more-btn__icon')  
          
    .profile__puzzle.pic-puzzle
      .pic-puzzle__column.pic-puzzle__column_width_lg
        .pic-puzzle__line
          .pic-puzzle__small-block
            .pic-puzzle__content-wrap
              .pic-puzzle__text.pic-puzzle__text_accent
                h3.pic-puzzle__title.link-text Use your reset button to change your vibration
                span.pic-puzzle__date.link-date 8 march 2020
              .pic-puzzle__pic(style="background-image: url(static/img/content/puzzle/puzzle1.jpg)")
        .pic-puzzle__line
          .pic-puzzle__small-block
            .pic-puzzle__content-wrap.pic-puzzle__content-wrap_vertical
              .pic-puzzle__pic(style="background-image: url(static/img/content/puzzle/puzzle3.jpg)")
              .pic-puzzle__text
                h3.pic-puzzle__title.link-text.link-text_color_dark Dream interpretation common symbols and their meanings 
                span.pic-puzzle__date.link-date 8 march 2020
          .pic-puzzle__small-block
            .pic-puzzle__content-wrap.pic-puzzle__content-wrap_vertical
              .pic-puzzle__pic(style="background-image: url(static/img/content/puzzle/puzzle4.jpg)")
      .pic-puzzle__column.pic-puzzle__column_width_sm
        .pic-puzzle__content-wrap.pic-puzzle__content-wrap_vertical
          .pic-puzzle__pic(style="background-image: url(static/img/content/puzzle/puzzle2.jpg)")
          .pic-puzzle__text
            h3.pic-puzzle__title.link-text.link-text_color_dark Motivation and your personal vision an anbeatable force
            span.pic-puzzle__date.link-date 8 march 2020
    .portfolio.js-portfolio-slider 
        +portfolioItem([
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio1.jpg'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio2.jpg'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio3.jpg'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio4.jpg'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio5.jpg'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio6.jpg'},
          {'name': 'Keith Ruiz',
          'text': 'comedian',
          'link': 'static/img/content/portfolio/portfolio7.jpg'}
        ]) 
