footer.footer 
  .wrapper
    .footer__line
      img(src="static/svg/logo.png").logo.footer__logo
      .footer__sign-up-form.form
        input(type="text" data-cursor="hidden" placeholder="Sign up our newsletter" name="sign-up-newsletter").interactive.form__input 
        button(type="submit" data-cursor="circle").form__btn.interactive
          span.hidden-text Send form 
          +icon('letter', 'form__icon')
    .footer__line 
      .footer__social
        include ../social/social
      small.footer__copyright 
        !='&copy; 2018 MI Talent. Designed by Tranmautritam for Miss impressions'
    
