.cursor
  span.cursor__icon.cursor__icon_default
  img(src="static/svg/drag.svg" alt="cursor").cursor__icon.cursor__icon_grab
  img(src="static/svg/arrow.svg" alt="cursor").cursor__icon.cursor__icon_arrow
  span.cursor__icon.cursor__icon_play Play
