.contact-us
  .contact-us__inner
    .contact-us__inner-pic(data-aos="fade-down" data-aos-duration="1000")
    include ../../modules/header/header
    .contact-us__wrapper.wrapper 
      .contact-us__title-block(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000")
        h1.contact-us__title.section-title 
          !='Contact <span>us</span>'
        span.contact-us__suptitle.link-suptitle Mass impressions
      .contact-us__text-block 
        p(data-aos="fade-down" data-aos-delay="800" data-aos-duration="1000").contact-us__p We would love to hear from you, whether you want more information on any of our acts or wish to discover how our artists can support your event.
        .contact-us__contacts-block
          a(href="#" data-aos="fade-up" data-aos-delay="800" data-aos-duration="800").contact-us__link 
            +icon('home', 'contact-us__icon')
            p.span.contact-us__link-inner
              span.contact-us__link-text 79-81 Berkeley Square
              span.contact-us__link-text London
              span.contact-us__link-text WC923 9TT
          .contact-us__link(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="800") 
            +icon('phone-call', 'contact-us__icon')
            p.span.contact-us__link-inner
              a(href="tel:+4402345678910").contact-us__link-text +44 (0) 234 567 8910
              a(href="tel:+4402345678910").contact-us__link-text +44 (0) 234 567 8910
          a(href="mailto: hello@mitalent.com" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="800").contact-us__link 
            +icon('letter', 'contact-us__icon')
            p.span.contact-us__link-inner
              span.contact-us__link-text hello@mitalent.com
  include ../../modules/footer/footer
