header.header
  .header__panel
    button(type="button").toggle-navigation-btn.header__sandwich#toggle-navigation-btn
      span.hidden-text Close navigation
      span.toggle-navigation-btn__line
    a(href="#").header__link Clients
    a(href="#").header__link News
  img(src="static/svg/logo.svg").logo.header__logo
  .header__panel
    input(type="search" name="main-search").header__search
  
