header.header
  .header__panel
    button(type="button").toggle-navigation-btn.header__sandwich.interactive#toggle-navigation-btn
      span.hidden-text Close navigation
      span.toggle-navigation-btn__line
    a(href="#").header__link.interactive Clients
    a(href="#").header__link.interactive News
  img(src="static/svg/logo.png").logo.header__logo
  .header__panel
    input(type="search" name="main-search").header__search
  
