.blog 
  .wrapper 
    article.blog__article.blog-article 
      .blog-article__col
        .blog-article__author-info
          .blog-article__author-text
            span.blog-article__author-name John Eve
            span.link-date.blog-article__author-post-date 8 March, 2020
          .blog-article__author-pic
            picture
              source(srcset="static/img/content/portfolio/derek-anderson-link-pic.jpg")
              img(src="static/img/content/portfolio/derek-anderson-link-pic.jpg" alt="Derek Anderson")
        ul.blog-article__links
          li.blog-article__links-item
      .blog-article__col.blog-article__col_lg 
        h2.section-title Control your own level of motivation
        span.link-suptitle Featured news
        p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat.
    article.blog__article.blog-article 
      .blog-article__col
        .blog-article__author-info
          .blog-article__author-text
            span.blog-article__author-name John Eve
            span.link-date.blog-article__author-post-date 8 March, 2020
          .blog-article__author-pic
            picture
              source(srcset="static/img/content/portfolio/derek-anderson-link-pic.jpg")
              img(src="static/img/content/portfolio/derek-anderson-link-pic.jpg" alt="Derek Anderson")
        ul.blog-article__links
          li.blog-article__links-item
      .blog-article__col 
        blockquote.blog-article__cite 
          p.blog-article__cite-text
            !='You can listen to <a href="#"><cite>@wiggywalsh</cite></a> <a href="#"><cite>@AdamBuxton</cite></a> talking about Parentiong on the iPlayer now! You`re Doing It Wrong is available here: <a href="#">bbc.in</a>'
      .blog-article__col.blog-article__col_lg 
        p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aligua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo concequat.
