.mainSlider.square
  include ../../modules/cursor/cursor
  include ../../modules/header/header 
  .mainSlider__social
    include ../../modules/social/social
  .swiper-container.main-slider.loading
    .swiper-wrapper
        section.swiper-slide.interactive(data-cursor='grab')
          .slide-bgimg.interactive(data-cursor='grab' style="background-image:url(static/img/content/giorgina.jpg)")
            img(src="static/img/content/giorgina.jpg" class="entity-img")
          a(href="profile.html" data-cursor="dot").swiper-link.btn-main.interactive
            span.btn-main__text View profile
            span.btn-main__pic
              +icon("play", "btn-main__icon")
          .swiper-slide__content.content.interactive(data-cursor='grab')
            h2.title Giorgina Alson
            p.caption Young model 2020
        section.swiper-slide.interactive(data-cursor='grab')
          .slide-bgimg(style="background-image:url(static/img/content/derek.jpg)")
            img(src="static/img/content/derek.jpg" class="entity-img")
          a(href="profile.html" data-cursor="dot").swiper-link.btn-main.interactive
            span.btn-main__text View profile
            span.btn-main__pic
              +icon("play", "btn-main__icon") 
          .swiper-slide__content.content
            h2.title Derek Anderson
            p.caption Btitish comedian
        section.swiper-slide.interactive(data-cursor='grab')
          .slide-bgimg(style="background-image:url(static/img/content/keith.jpg)")
            img(src="static/img/content/keith.jpg" class="entity-img")
          a(href="profile.html" data-cursor="dot").swiper-link.btn-main.interactive
            span.btn-main__text View profile
            span.btn-main__pic
              +icon("play", "btn-main__icon")
          .swiper-slide__content.content
            h2.title Keith Ruiz
            p.caption Comedian
    .swiper-scrollbar        
    button.swiper-button-prev.swiper-button-white   
    button.swiper-button-next.swiper-button-white
 
  .mainSlider__navWrap
    .swiper-container.nav-slider
      .swiper-wrapper
        .swiper-slide.nav-slide.interactive(data-cursor="dot") 01
          img(src="static/img/content/giorgina.jpg" class="entity-img")
        .swiper-slide.nav-slide.interactive(data-cursor="dot") 02 
          img(src="static/img/content/derek.jpg" class="entity-img")
        .swiper-slide.nav-slide.interactive(data-cursor="dot") 03
          img(src="static/img/content/keith.jpg" class="entity-img")
  
