.mainSlider
  position: relative
  cursor: none
  overflow: hidden
  &__social
    position: absolute
    top: 17vh
    left: 3%
    z-index: 700
    @media screen and (max-width: 600px)
      display: none
    & .social
      flex-direction: column
      &__item:not(:last-child)
          margin-bottom: 30px
  &__navWrap
    height: 100px
    overflow: hidden
    position: absolute
    top: 32vw
    left: 80%
    z-index: 200
    @media screen and (max-width: 600px)
      top: 66px
      left: auto
      right: 3%
    & .nav-slider
      transform: translateY(-80px)
  & .search-form__overlay
    background-color: $bg-color
.swiper-container
  width: 100%
  height: calc(100vh - 86px)
  transition: opacity .6s ease, transform 1s ease
.loading
  opacity: 0
  visibility: hidden
.swiper-wrapper
.swiper-slide
  overflow: hidden
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  .slide-bgimg
    position: absolute
    top: 3vh
    left: 26%
    width: 50%
    max-width: 1124px
    height: 72vh
    // max-height: 819px
    background-position: center
    background-size: cover
    @media screen and (max-width: 600px)
      width: 100%
      left: 0
  .swiper-link
    position: absolute
    top: 75vh
    left: 26%
    transform: translate(-160px, -100%)
    @media screen and (max-width: 1024px)
      transform: translate(-120px, -100%)
      & .btn-main__text
        width: 120px
      @media screen and (max-width: 600px)
        left: 0
        transform: translate(0, -100%)
  .entity-img
    display: none
  &__content
    position: absolute
    top: 16vh
    left: 18%
    @media screen and (max-width: 600px)
      left: 3%
.swiper-container-vertical
  & > .swiper-scrollbar
    position: fixed
    top: 0
    height: 100%
    width: 8px
    border-radius: 0px
    & .swiper-scrollbar-drag
      border-radius: 0px
.content
  font-size: 12px
  width: 32%
  color: $main-color-dark
  @media screen and (max-width: 1300px)
    font-size: 10px
  @media screen and (max-width: 600px)
    font-size: 7px
  .title
    font-size: 5.81em
    margin-bottom: .26em
    font-family: $font-1-simple

  .caption
    display: block
    font-size: .9375em
    font-family: $font-2-simple
    text-transform: uppercase
[class^="swiper-button-"]
  width: 44px
  opacity: 0
  visibility: hidden
  transition: all .3s ease
  display: none
.swiper-nav-wrap
  display: flex
  padding-top: 30px
.nav-slider
  // width: 182px
  height: 180px
  // @media screen and (max-width: 1024px)
  //   width: 100px
  & .swiper-slide
    opacity: 0
    transition: opacity .3s linear
    &-active
      opacity: 1
      transition: opacity .3s linear
.nav-slide
  font-size: 12px
  font-family: $font-2-bold
  color: $main-color-dark
  padding: 5px
.swiper-slider-count
  @extend .nav-slide
  position: relative
  &::before
    content: '/'
    position: absolute
    left: -2px
    color: inherit
