.mainSlider
  position: relative
  cursor: none
  overflow: hidden
  &__social
    position: absolute
    top: 17vh
    left: 3%
    z-index: 700
    @media screen and (max-width: 600px)
      display: none
    & .social
      flex-direction: column
      &__item:not(:last-child)
          margin-bottom: 30px
  &__navWrap
    height: 100px
    overflow: hidden
    position: absolute
    top: 32vw
    left: 80%
    @media screen and (max-width: 600px)
      opacity: 0
      visibility: hidden
    & .nav-slider
      transform: translateY(-80px)
  & .search-form__overlay
    background-color: $bg-color
*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0
.swiper-container
  width: 100%
  height: calc(100vh - 86px)
  transition: opacity .6s ease, transform 1s ease
  &.loading
    opacity: 0
    visibility: hidden
.swiper-wrapper
.swiper-slide
  overflow: hidden
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  .slide-bgimg
    position: absolute
    top: 3vh
    left: 26%
    width: 50%
    max-width: 1124px
    height: 72vh
    // max-height: 819px
    background-position: center
    background-size: cover
    @media screen and (max-width: 600px)
      width: 100%
      left: 0
  .swiper-link
    position: absolute
    top: 75vh
    left: 26%
    transform: translate(-160px, -100%)
    @media screen and (max-width: 1024px)
      transform: translate(-120px, -100%)
      & .btn-main__text
        width: 120px
      @media screen and (max-width: 600px)
        left: 0
        transform: translate(0, -100%)
  .entity-img
    display: none
  &__content
    position: absolute
    top: 16vh
    left: 18%
    @media screen and (max-width: 600px)
      left: 3%
.swiper-container-vertical
  & > .swiper-scrollbar
    position: fixed
    top: 0
    height: 100%
    width: 8px
.content
  font-size: 12px
  width: 32%
  color: $main-color-dark
  @media screen and (max-width: 1300px)
    font-size: 10px
  @media screen and (max-width: 600px)
    font-size: 7px
  .title
    font-size: 5.81em
    margin-bottom: .26em
    font-family: $font-1-simple

  .caption
    display: block
    font-size: .9375em
    font-family: $font-2-simple
    text-transform: uppercase
[class^="swiper-button-"]
  width: 44px
  opacity: 0
  visibility: hidden
  transition: all .3s ease
  display: none
.nav-slider
  width: 182px
  height: 180px
  @media screen and (max-width: 1024px)
    width: 100px
  & .swiper-slide
    font-size: 12px
    font-family: $font-2-bold
    color: $inactive-el-color
    padding: 5px
    position: relative
    transition: color .3s linear
    &::before
      content: ''
      display: block
      width: 42%
      max-width: 58px
      height: 2px
      position: absolute
      top: 50%
      margin-top: -1px
      right: 0
      background-color: transparent
      transition: .3s ease-in
    &-active
      color: $main-color-dark
      &::before
        background-color: $main-color-dark
  & .swiper-slide-duplicate-next,
  & .swiper-slide-duplicate-prev,
  & .swiper-slide-prev,
  & .swiper-slide-next
    opacity: .5
