.mainSlider
  .cursor
    img(src="static/svg/drag.svg" alt="cursor").cursor__icon
  include ../../modules/social/social
  .swiper-container.main-slider.loading
    .swiper-wrapper
        section.swiper-slide
          .slide-bgimg(style="background-image:url(static/img/content/giorgina.jpg)")
            img(src="static/img/content/giorgina.jpg" class="entity-img")
            a(href="#").swiper-link.btn-main.interactive
              span.btn-main__text View profile
              span.btn-main__pic
                +icon("play", "btn-main__icon")
          .content
            h2.title Giorgina Alson
            p.caption Young model 2020
        section.swiper-slide
          .slide-bgimg(style="background-image:url(static/img/content/derek.jpg)")
            img(src="static/img/content/derek.jpg" class="entity-img")
            a(href="#").swiper-link.btn-main.interactive
              span.btn-main__text View profile
              span.btn-main__pic
                +icon("play", "btn-main__icon")
          .content
            h2.title Derek Anderson
            p.caption Btitish comedian
        section.swiper-slide
          .slide-bgimg(style="background-image:url(static/img/content/keith.jpg)")
            img(src="static/img/content/keith.jpg" class="entity-img")
            a(href="#").swiper-link.btn-main.interactive
              span.btn-main__text View profile
              span.btn-main__pic
                +icon("play", "btn-main__icon")
          .content
            h2.title Keith Ruiz
            p.caption Comedian
            
    button.swiper-button-prev.swiper-button-white   
    button.swiper-button-next.swiper-button-white
 
  .mainSlider__navWrap
    .swiper-container.nav-slider
      .swiper-wrapper
        .swiper-slide.nav-slide.interactive 01
          img(src="static/img/content/giorgina.jpg" class="entity-img")
        .swiper-slide.nav-slide.interactive 02 
          img(src="static/img/content/derek.jpg" class="entity-img")
        .swiper-slide.nav-slide.interactive 03
          img(src="static/img/content/keith.jpg" class="entity-img")
  
