ul.social
  li.social__item
    a(href="#" target="_blank" data-cursor="circle" title="facebook").social__link.interactive
      +icon("fb", "social__icon")
  li.social__item
    a(href="#" target="_blank" data-cursor="circle" title="instagram").social__link.interactive
      +icon("instagram", "social__icon")
  li.social__item
    a(href="#" target="_blank" data-cursor="circle" title="youtube").social__link.interactive
      +icon("youtube", "social__icon")
  li.social__item
    a(href="#" target="_blank" data-cursor="circle" title="twitter").social__link.interactive
      +icon("twitter", "social__icon")
