.hidden-text
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
.wrapper
  max-width: 1024px
  width: 100%
  margin: 0 auto
  @media screen and (max-width: 1054px)
    padding: 0 15px
.cursor
  width: 16px
  height: 16px
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  top: -8px
  left: -8px
  z-index: 11000
  pointer-events: none
  transition: all 0s
  &::before
    content: ''
    width: 40px
    height: 40px
    border-radius: 50%
    border: 1px solid darken($bg-color, 30%)
    position: absolute
    top: 50%
    left: 50%
    margin-top: -20px
    margin-left: -20px
    transition: all .5s
  &__icon
    width: 15px
    height: 15px
    position: relative
    &_arrow
      display: none
    &_play
      display: none
  &_grab
    transition: all .1s
  &_dot
    &::before
      transform: scale(.5)
      background-color: darken($bg-color, 30%)
    .cursor__icon
      display: none
  &_arrow
    &::before
      background-color: darken($bg-color, 30%)
    & .cursor__icon
      display: none
      &_arrow
        display: inline-block
      &_grab
        display: none
  &_play
    &::before
      background-color: darken($bg-color, 30%)
    & .cursor__icon
      &_play
        display: inline-block
        font-size: 10px
        font-family: $font-1-simple
        color: $main-color-dark
        width: 100%
        text-align: center
        position: absolute
        top: 67%
        left: 30%
        text-transform: uppercase
        transform: translate(-50%, -50%)
      &_arrow
        display: none
      &_grab
        display: none
.interactive
  cursor: none
.paragraph
  font-size: 14px
  line-height: 1.6
  font-family: $font-2-simple
  color: $inactive-el-color
.btn-main
  display: flex
  $size: 68px
  text-align: center
  overflow: hidden
  & > *
    height: $size
    line-height: $size - 3
    border: 1px solid transparent
    transition: all .5s
    @media screen and (max-width: 1024px)
      height: $size - 10
      line-height: $size - 10
  span
    display: inline-block
  &__pic
    width: $size
    background-color: $main-color-light
    transition: all .3s ease-in
    position: relative
  &:hover &__pic
    border-color: darken($bg-color, 10%)
    border-left-color: transparent
  &__icon
    width: 28px
    height: 35px
    fill: #000
    vertical-align: middle
  &__text
    width: 160px
    background-color: darken($bg-color, 10%)
    color: $main-color-light
    font-family: $font-2-bold
    font-size: 9px
    letter-spacing: 2px
    text-transform: uppercase
  &:hover &__text
    border-color: darken($bg-color, 10%)
    border-right-color: transparent
    background-color: transparent
    color: darken($bg-color, 10%)
.show-more-btn
  font-size: 10px
  font-family: $font-2-bold
  text-transform: uppercase
  line-height: 2.143
  color: $main-color-dark
  & > *
    vertical-align: middle
  & span
    margin-right: 20px
  &_color
    &_light
      color: $main-color-light
      & .icon
        fill: $main-color-light
  &__icon
    width: 20px
    height: 16px
    margin-top: -2px
    fill: $main-color-dark
.form
  display: flex
  align-items: center
  border-left: 1px solid $bg-color
  &_size
    &_sm
      & .form__input
        color: $inactive-el-color
        font-size: 10px
  &__input
    width: 100%
    padding: 16px 33px 16px 52px
    box-sizing: border-box
    font-size: 10px
    text-transform: uppercase
    font-family: $font-2-bold
    color: $main-color-dark
    letter-spacing: 2px
    &::placeholder
      font-family: $font-2-bold
      letter-spacing: inherit
      color: inherit
      font-size: inherit
  &__btn
    padding: 5px
  &__icon
    width: 22px
    height: 18px
    fill: $main-color-dark
    vertical-align: middle
.search-form
  position: relative
  overflow: hidden
  &__overlay
    padding: 5px
    display: flex
    align-items: center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 0
    width: auto
    height: 100%
    background-color: $bg-color
    z-index: 200
    &-icon
      margin-left: auto
      // transition-delay: .4s
  &_visible
    & .search-form__overlay
      opacity: 0
      visibility: hidden
      transition-delay: .4s
    & .search-form__block-form
      transform: translateX(0)
    // &:hover
    //   opacity: 0
    //   transition-delay: .4s
    //   & ~ .search-form__block-form
    //     transform: translateX(0)
  &__block-form
    display: flex
    transform: translateX(100%)
    transition: all .4s ease-in
.link-text
  font-family: $font-2-simple
  font-size: .875em
  text-transform: capitalize
  color: $main-color-light
  &_color
    &_accent
      color: $bg-color
    &_dark
      color: $main-color-dark
.link-date
  font-family: $font-2-simple
  font-size: 12px
  color: $inactive-el-color
.link-suptitle
  display: inline-block
  font-family: $font-2-simple
  color: $main-color-light
  font-size: 10px
  text-transform: uppercase
  position: relative
  &_color
    &_dark
      color: $main-color-dark
      font-family: $font-2-bold
.tabs
  display: flex
  justify-content: center
  &__btn
    padding: 15px 30%
    line-height: 16px
    font-family: $font-2-bold
    font-size: 10px
    color: $inactive-el-color
    text-transform: uppercase
    position: relative
    &_active
      color: $main-color-dark
      &::before
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: $main-color-dark
        position: absolute
        bottom: 0
        left: 0
.video
  position: relative
  &__file
    width: 100%
    height: 100%
    margin-bottom: -3px
  &__attributes
    width: 100%
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 200
    text-align: center
    @media screen and (max-width: 580px)
      font-size: .8rem
  &__poster
    width: 100%
    height: 100%
    background-size: cover
    background-position: center top
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    z-index: 100
    opacity: 1
    transition: opacity .3s linear
    &_hidden
      opacity: 0
  &__playBtn
    $sizeVideoBtn: 80px !global
    width: $sizeVideoBtn
    height: $sizeVideoBtn
    border-radius: 50%
    border: 1px solid $bg-color
    opacity: 1
    transition: opacity .3s linear
    @media screen and (max-width: 580px)
      width: $sizeVideoBtn/2
      height: $sizeVideoBtn/2
    & .icon
      width: 40px
      height: 40px
      margin-top: 5px
      margin-left: 5px
      fill: $bg-color
      @media screen and (max-width: 580px)
        width: 20px
        height: 20px
    &:hover
      opacity: .8
    &_hidden
      visibility: hidden
  &__pauseBtn
    width: $sizeVideoBtn
    height: $sizeVideoBtn
    border-radius: 50%
    border: 1px solid $bg-color
    font-size: 30px
    font-weight: 600
    color: $bg-color
    position: absolute
    top: 20px
    right: 20px
    z-index: 200
    @media screen and (max-width: 580px)
      width: $sizeVideoBtn/2
      height: $sizeVideoBtn/2
      font-size: 20px
    &_hidden
      @extend .video__playBtn_hidden
.logo
  width: 170px
  height: auto
  @media screen and (max-width: 600px)
    width: 132px
.square
  position: relative
  &:before
    content: ''
    width: 30vw
    height: 30vw
    position: absolute
    top: 0
    right: 0
    background-color: $bg-color
