extends main

block title
	| Главная страница

block content
	include blocks/mainScreen/mainScreen
	include blocks/news/news
	include blocks/blog/blog
	include blocks/contact-us/contact-us
	include blocks/profile/profile



mixin mediaLinks(data)
	ul.profile-media-links&attributes(attributes)
		each item in data
			li.profile-media-links__item.interactive(data-cursor="dot")
				a(href="#" target="_blank").profile-media-links__link
					picture.profile-media-links__prev
						source(srcset="static/img/content/puzzle/"+ item.img + ".jpg, static/img/content/puzzle/" + item.img + ".jpg 2x")
						img(src="static/img/content/puzzle/" + item.img + ".jpg" alt= item.text)
					.profile-media-links__text-box
						p.profile-media-links__text.link-text.link-text_color_dark= item.text
						span.profile-media-links__date.link-date= item.date  
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod aria-hidden="true")
		use(xlink:href="static/svg/symbol/sprite.svg#" + name)



	
