doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible' content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="format-detection" content="telephone=no")
		link(rel="shortcut icon" href="static/img/general/touch-icon-32.png" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="64x64" href="static/img/general/touch-icon-64.png")
		link(rel="preload" as="font" href="static/fonts/Nunito-ExtraBold.woff2" type="font/woff2" crossorigin)
		link(rel="preload" as="image" href="static/svg/logo.svg" crossorigin)
		link(rel="preload" href="main/css/main.css" as="style") 
		link(rel="stylesheet" type='text/css' href="main/css/reset.css")
		link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css") 
		<!-- build:css static/libs/libs.css-->
		link(rel="stylesheet" type="text/css" href='static/libs/slick/slick-theme.css')
		link(rel="stylesheet" type="text/css" href='static/libs/slick/slick.css')
		link(rel="stylesheet" type="text/css" href='static/libs/aos/aos.css')
		<!-- endbuild-->
		link(rel="stylesheet" href="static/libs/swiper/swiper.min.css")
		link(rel="stylesheet" type='text/css' href="main/css/main.css")
		
		title
			block title
	body 
		include modules/cursor/cursor
		include modules/menu/menu
		include modules/button/button
		
		#barba-wrapper
			.barba-container(data-namespace="mainPage")
				block content
			.barba-overlay
		//- include modules/footer/footer
		<!-- build:js js/libs/libs.js-->
			script(src="static/js/jquery.js")
			script(src="static/libs/svg4everybody.js")
			script(src="static/libs/aos/aos.js")
			script(src='static/libs/swiper/swiper.min.js')
			script(src="static/libs/slick/slick.min.js")
			script(src="static/libs/barba.min.js")
			script(src="static/libs/TweenMax.min.js")
		<!-- endbuild-->
		
		
		script(src="static/js/main.js")

		


		

	
		
