mixin mainNav(data)
  nav.main-nav#main-nav
    ul.main-nav__list
      each item, index in data
        li.main-nav__item-wrap
          .main-nav__item.interactive(data-cursor="arrow" style="transition-delay: " + index * .3 + "s")
            a(href= item.link).main-nav__link
              span.main-nav__item-text= item.text
              span.main-nav__item-number= '0' + index 
              span(style="transition-delay: " + index * .3 + "s").main-nav__item-line
    button(type="button" data-cursor="circle").toggle-navigation-btn.toggle-navigation-btn_closed.interactive.main-nav__close-btn#main-nav-close-btn
      span.hidden-text Close navigation
      span.toggle-navigation-btn__line
            
+mainNav([
{'text': 'Blog',
'link': '#'},
{'text': 'News',
'link': 'news.html'}, 
{'text': 'Contacts',
'link': '#'}
])

      
